body{
    background-image: url(assets/dark_blue.png);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.content {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.left {
    background-color: #191919;
    height: 100%;
}

.leftUpper {
    display: flex;
    justify-content: center;
}

.leftBody {
    display: flex;
    flex-direction: column;
}

#dp {
    width: 80%;
    margin-top: 15%;
    margin-bottom: 20%;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    padding-bottom: 15%;
}

.iconDetail {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.icon {
    max-width: 7%;
    height: auto;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
}

.text1 {       
    font-family: 'Montserrat', sans-serif;
    color:#d0d9d2;       
    padding-left: 10%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.specialization {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid gold;
    padding-bottom: 15%;
}

.specializationList {
    margin-bottom: 10px;
}

.leftList {
    max-width: 70%;
}

.quote {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    font-family: 'EB Garamond', serif;
    color: #B8B96D;  
    font-size: 2em;
    padding-left: 15%;
    padding-right: 15%;
}

.leftLabel {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color:#d0d9d2;  
}

.right {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.rightUpper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 2px solid black; 
    padding-bottom: 5%;
}

.nameContainer {
    font-size: 3em;
    font-family: 'Bebas Neue', sans-serif;
}


.nameDetail {
    margin-top: -15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;

}

.aboutMe {
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.bodyLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.bodyContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-bottom: 5%;
    margin-bottom: 10px;
    border-bottom: 2px solid black; 
}

.table1 {
    border-collapse: collapse;
    border-spacing: 30px;
    width: 80%;
}

th {
    text-align: start;
}

.table2 {
    border-collapse: collapse;
    border-spacing: 30px;
    width: 80%;
}


.star {
    max-width: 3%;
}

.table2 {
    border-collapse: collapse;
    border-spacing: 30px;
    width: 80%;
}

.listLabel {
    font-weight: bold;
}

ol {
    max-width: 40%;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}